# IDE
.vscode
.idea/*
*.iml
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
venv
*.egg-info/
.pytest_cache
.coverage
.coverage.*
coverage.log
coverage_html
build
dist

# cicada-sceduler definitions file
config/definitions.yml
